/.quarto/
.Rproj.user
*.csv
!data/jeuDeDonnees_test_param.csv
*.xls
*xlsx
*.html
!_extensions/**/insee-clair/**/*.html
*_files/
*.tex
*.pdf
*.log
*.sty
*.docx

_output/

**/*.quarto_ipynb
_freeze/
index_cache/